.differentDistributers{
    display: flex;
    flex-direction: row;
    gap: 20px;
    background: white;
}
.differentDistributers span{
    position: relative;
    top: 20px;
    left: 100px;
    font-size: 40px;
    font-weight: bold;
}
.dist{
    margin-top: 30px;
    display: grid;
    grid-template-columns:repeat(2 ,1fr)  ;
    grid-gap: 50px;
}
.Kathmandu{
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px 35px;
    width: 500px;
    gap: 15px;
    border: 1px solid black;
    border-radius: 10px;
}
.Kathmandu:hover{
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 0px 1px 1px 0px rgb(0,0,0,10);
    transition: all 1s ease;
}
.show_kathmandu{
    font-size: 30px;
}
.pokhara{
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px 35px;
    width: 500px;
    gap: 15px;
    border: 1px solid black;
    border-radius: 10px;
}
.pokhara:hover{
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 0px 1px 1px 0px rgb(0,0,0,10);
    transition: all 1s ease;
}
.show_pokhara{
    font-size: 30px;
}

.chitwan{
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px 35px;
    width: 500px;
    gap: 15px;
    border: 1px solid black;
    border-radius: 10px;
}
.chitwan:hover{
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 0px 1px 1px 0px rgb(0,0,0,10);
    transition: all 1s ease;
}
.show_chitwan{
    font-size: 30px;
}

.dharan{
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px 35px;
    width: 500px;
    gap: 15px;
    border: 1px solid black;
    border-radius: 10px;
}
.dharan:hover{
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 0px 1px 1px 0px rgb(0,0,0,10);
    transition: all 1s ease;
}
.show_dharan{
    font-size: 30px;
}
.birgunj{
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px 35px;
    width: 500px;
    gap: 15px;
    border: 1px solid black;
    border-radius: 10px;
}
.birgunj:hover{
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 0px 1px 1px 0px rgb(0,0,0,10);
    transition: all 1s ease;
}
.show_birgunj{
    font-size: 30px;
}
.butwal{
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px 35px;
    width: 500px;
    gap: 15px;
    border: 1px solid black;
    border-radius: 10px;
}
.butwal:hover{
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 0px 1px 1px 0px rgb(0,0,0,10);
    transition: all 1s ease;
}
.show_butwal{
    font-size: 30px;
}
.backButton{
    background: white;
    padding: 10px 40px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 10px;
    
}
.backButton:hover{
    background-color:  rgb(83, 174, 187);
    color: white;
    border: 1px solid white;
    cursor: pointer;
}