*{
    scroll-behavior: smooth;
}
.two-dropdowns {
    display: flex;
    /* justify-content: space-between; */
    width: 100%;
    margin-left: 1.5rem;
    margin-top: .5rem;
}

.calendar {
    margin-top: 1.4rem;
    margin-left: 6rem;
    margin-right: 3rem;
    display: flex;
    flex-wrap: wrap;
}

.calendar p {
    font-size: 1.2rem;
    margin-bottom: 1rem;

}

.calendar .span-1 {
    background-color: var(--primary-color);
    padding: .8rem;
    cursor: pointer;
    color: white;
    font-size: 1rem;
    border-radius: 10px;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.main-calendar {
    margin-top: 1rem;
}

.success {
    position: absolute;
    z-index: 9999999;
    background-color: rgb(141, 204, 214);
    font-size: 1rem;
    border-radius: 20px;
    padding: 1rem 2rem;
    top: 20rem;
    left: 30rem;
    opacity: 0;
    transition: 1s all;
}

.success.active {
    position: absolute;
    z-index: 9999999;
    background-color: rgb(141, 204, 214);
    font-size: 1.2rem;
    filter: opacity(.9);
    border-radius: 20px;
    padding: 1rem 2rem;
    top: 20rem;
    left: 31rem;
    opacity: 1;
    transition: 1s all;
}

.filter-car {
    margin: 2rem 0rem 0rem 1rem;
    background-color: rgb(192, 187, 187);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .3);
    border-radius: 10px;
    display: flex;
    margin-top: -4rem;
    z-index: 10000;
    position: absolute;
    width: 98%;
    height: 5rem;
}

.mappinline2 {
    color: aliceblue;
    font-size: 2rem;
    margin-left: .3rem;
    font-weight: 100;
    margin-top: .3rem;
    background-color: var(--primary-color);
    padding: .4rem;
    border-radius: 4px;
}

.dropdown-menu {
    position: absolute;
    left: 14rem;
    padding: .1rem 0rem;
    width: 50%;
    background-color: var(--primary-color);
    border-radius: 20px;
    z-index: 1;
    opacity: 0;

    visibility: hidden;
    transition: opacity 0.7s ease-in-out, visibility 0.7s ease-in-out;
}

.dropdown-menu.open {
    opacity: 1;
    visibility: visible;
}

.dropdown--li {
    padding: 1rem;
    border-radius: 20px;
    cursor: pointer;
    transition: all .5s;
    color: white;
}

.dropdown--li:hover {
    background-color: rgb(141, 204, 214);
    color: rgb(4, 4, 4);
    transition: all .5s;
}

.city-item,
.vehicle-item {
    padding: .5rem 1rem;
    cursor: pointer;
    color: white;
    margin-top: .5rem;
    margin: .5rem;
    transition: all .5s;
}

.city-item:hover,
.vehicle-item:hover {
    background-color: rgb(127, 209, 221);
    transition: all .5s;
}

.selection {
    display: flex;
    margin-left: 1rem;
}

.selection .daysp {
    font-size: 1.2rem;
    margin-right: 1rem;
    margin-top: .7rem;
    margin-left: 1rem;
}

.selection .days {
    margin-top: .3rem;
    font-size: 1rem;
    background-color: var(--primary-color);
    padding: .5rem 1rem;
    border-radius: 8px;
    color: white;
}

.selection div {
    display: inline;
}

.dropdown-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: .8rem;
    border-radius: 5px;
}

.rent-button {
    background-color: whitesmoke;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    letter-spacing: 2px;
    font-weight: 200;
    color: var(--primary-color);
    margin-top: 2rem;
    border: 2px solid var(--primary-color);
    border-radius: 14px;
    position: absolute;
    top: 35rem;
    left: 43rem;
    cursor: pointer;
    font-family: sedan;
    transition: 1s all;
}

.rent-button:hover {
    transform: scale(1.05);
    color: white;
    background-color: var(--primary-color);
    transition: .7s all;
}

.error {
    position: absolute;
    z-index: 9999999;
    background-color: rgb(221, 131, 131);
    font-size: 1.2rem;
    filter: opacity(1.1);
    border-radius: 20px;
    padding: 1rem 2rem;
    top: 20rem;
    left: 31rem;
    opacity: 0;
}

.error.active {
    opacity: 1;
    background-color: rgb(221, 131, 131);
}


@media screen and (max-width:1300px) {
    .filter-car {
        margin:0.5rem 0rem 0rem 1rem;
        display: flex;
        margin-top: -4rem;
        z-index: 10000;
        position: absolute;
        width: 98%;
        height: 5rem;
    }
    .rent-button{
       
        position: absolute;
        top: 30rem;
        left: 35rem;
        cursor: pointer;
        font-family: sedan;
        transition: 1s all;
    }
    
}




@media screen and (max-width:1285px) {
    .calendar{
        margin-left: 2rem;
        margin-right: 2.5rem;
        margin-top: 2rem;
    }
    .filter-car{
        height: 6.5rem;
    }

    .selection{
     flex-direction: column;
    }
    .dropdown-menu {
        left: 6rem;
        width: 60%;

    }
    .main-calendar{
        margin-top: 1.7rem;
    }
    .mappinline2 {
       
        margin-left: .3rem;
        margin-top: 2rem;
        background-color: var(--primary-color);
        padding: .4rem;
        border-radius: 4px;
    }
    
}
@media screen and (max-width:1055px) {
    .rent-button{
        position: absolute;
        top: 35rem;
        left: 26rem;
        cursor: pointer;
        font-family: sedan;
        transition: 1s all;
    }
}

@media screen and (max-width: 1025px) {
    .calendar{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .days{
        font-size: 10px;
    }
    .main-calendar{
        margin-top: 5rem;
    }
    .two-dropdowns{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .rent-button{
        position: absolute;
        top: 39rem;
        left: 26rem;
        cursor: pointer;
        font-family: sedan;
        transition: 1s all;
    }
    .filter-car{
        height: 14rem;
    }
    .dropdown-menu {
        left: 7rem;
        width: 30%;

    }
    
  }
  


  @media screen and (max-width: 900px) {
    
    .rent-button{
        top: 39rem;
        left: 23rem;
    }
    .vehicle{
        left: 15rem;
    }

  }

  


  @media screen and (max-width:1090px) {
   
        .rent-button{
            top: 40rem;
            left: 27rem;
           
        }
    
      
  }
  

  @media screen and (max-width:990px) {
   
    .rent-button{
        top: 40rem;
        left: 24rem;
       
    }

  
}

@media screen and (max-width:775px) {
   
    .rent-button{
        top: 40rem;
        left: 20rem;
       
    }

  
}

@media screen and (max-width:655px) {
   
    .rent-button{
        top: 40rem;
        left: 18rem;
       
    }

  
}
  
  
  
@media screen and (max-width: 580px) {
    
    .rent-button{
        position: absolute;
        top: 45rem;
        left: 15rem;
        cursor: pointer;
        font-family: sedan;
        transition: 1s all;
    }
    .filter-car{
        height: 20rem;
        width: 100%;
    }
    
    .dropdown-menu {
        left: 12rem;
        width: 40%;

    }
  }

  @media screen and (max-width: 580px) {
    .rent-button{
        position: absolute;
        top: 45rem;
        left: 15rem;
        cursor: pointer;
        font-family: sedan;
        transition: 1s all;
    }
    .filter-car{
        height: 20rem;
        width: 100%;
    }
    
    .dropdown-menu {
        left: 12rem;
        width: 40%;

    }
  }
  @media screen and (max-width: 580px) {
    
    .rent-button{
        
        top: 40rem;
        left: 13rem;
    }
   
  }

  @media screen and (max-width: 465px) {
    
    .rent-button{
        
        top: 40rem;
        left: 11rem;
       
    }
   
  }



  
  
  



