/* .passPage{
    background-image: url("https://cdn.pixabay.com/photo/2016/02/13/13/11/oldtimer-1197800_1280.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

} */

.forgotImage{
    object-fit: cover;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }

.forgot{    
    border: 1px solid black;
    padding: 20px 30px;
    width: 25%;
    position: absolute;
    left: 38%;
    top: 20%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
}
.forgot input{
    padding: 5px 10px;
    margin-top: 10px;
    width: 70%;
    border-radius: 10px;
    border: 1px solid black;
    font-size: 16px;
}
.sendCode{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.sc{
    width: 30%;
    border: none;
    background-color: black;
    color: white;
    border-radius: 10px;
    margin-top: 8px;
    border: 1px solid white;
}
.sc:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    border: 1px solid black;
}

