* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: blue;
}

.loginPage {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.login {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    padding: 30px 50px;
    border: 3px solid var(--primary-color);
    border-radius: 20px;
    justify-content: center;
    backdrop-filter: blur(12px);
}

.login h1 {
    margin-left: 7.5rem;
    font-size: 38px;
    color: var(--primary-color);
    letter-spacing: 5px;
    font-weight: 500;
}

.Signup {
    position: absolute;
    left: 55%;
    top: 20%;
    width: 30%;
    padding: 30px 50px;
    border: 2px solid black;
    border-radius: 10px;
    justify-content: center;
    background: rgba(185, 185, 185, 0.5);
}

.signup-link {
    text-decoration: underline;
    color: var(--primary-color);
    letter-spacing: 3px;
}

.container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container p {
    font-size: 18px;
    color: white;
    margin: 1rem 0rem 0rem 1rem;
}

.container input {
    width: 100%;
    padding: 0px 12px 12px 12px;
    color: white;
    font-size: 18px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid var(--primary-color);
}

input:focus {
    outline: none;
}

.loginBtn {
    width: 60%;
    padding: 12px 16px;
    font-size: 22px;
    margin-left: 70px;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: white;
    color: var(--primary-color);
    transition: .5s all;
}

.SignupBtn {
    width: 40%;
    padding: 7px 12px;
    font-size: 15px;
    margin-left: 100px;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
    background-color: black;
    color: white;
}

.SignupBtn:hover {
    background-color: white;
    color: black;
    border: 1px solid white;

}

.loginBtn:hover {
    color: white;
    background-color: var(--primary-color);
    transition: .5s all;
    transform: scale(1.05);
}

.existing {
    margin-left: 40px;
}

.existingS {
    margin-left: 40px;
    font-size: 2px
}

.resetPass {
    margin-left: 100px;
    font-size: 16px;
    letter-spacing: 2px;
    color: var(--primary-color);
    text-decoration: underline;
}

.bgImage {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    filter: brightness(.6);
}

to_dashboard{
    color: black;
}

@media screen and (max-width: 1580px) {
    .container input {
        width: 80%;

    }

    .login {
        left: 50%;
        top: 40%;
        width: 40%;
        padding: 30px 50px;
    }

    .Signup {
        left: 55%;
        top: 20%;
        width: 40%;
        padding: 30px 50px;
    }

    .bgImage {
        left: -2%;
        width: 102%;
    }

    .SignupBtn,
    .loginBtn {
        width: 50%;
        margin-left: 80px;
    }

    .existing {
        margin-left: 60px;
    }

    .existingS {
        margin-left: 70px;
    }

    .resetPass {
        margin-left: 130px;
    }

}

@media screen and (max-width: 1508px) {
    .container input {
        width: 80%;

    }

    .login {
        left: 50%;
        top: 40%;
        width: 40%;
        padding: 30px 50px;
    }

    .Signup {
        left: 55%;
        top: 20%;
        width: 40%;
        padding: 30px 50px;
    }

    .bgImage {
        left: -2%;
        width: 102%;
    }

    .SignupBtn,
    .loginBtn {
        width: 50%;
        margin-left: 80px;
    }

    .existing {
        margin-left: 55px;
    }

    .existingS {
        margin-left: 70px;
    }


    .resetPass {
        margin-left: 130px;
    }

}



@media screen and (max-width: 1340px) {
    .container input {
        width: 90%;

    }

    .SignupBtn,
    .loginBtn {
        width: 50%;
        margin-left: 80px;
    }

    .existing {
        margin-left: 40px;
    }

    .resetPass {
        margin-left: 120px;
    }
}

@media screen and (max-width: 1270px) {
    .container input {
        width: 90%;

    }

    .existingS {
        margin-left: 40px;
    }

}

@media screen and (max-width: 1190px) {
    .container input {
        width: 100%;
    }

    .Signup {
        left: 50%;
        width: 45%;
    }

    .existingS {
        margin-left: 40px;
    }
}

@media screen and (max-width: 1183px) {
    .login {
        left: 45%;
        top: 40%;
        width: 45%;
        padding: 30px 50px;
    }

    .Signup {
        left: 50%;
        width: 45%;
    }

    .existingS {
        margin-left: 40px;
    }

    .bgImage {
        left: -2%;
        width: 102%;
    }

    .SignupBtn,
    .loginBtn {
        width: 50%;
        margin-left: 50px;
    }

    .existing {
        margin-left: 20px;
    }

    .resetPass {
        margin-left: 70px;
    }
}


@media screen and (max-width: 1160px) {
    .container input {
        width: 100%;

    }

    .login {
        left: 45%;
        top: 40%;
        width: 45%;
        padding: 30px 50px;
    }

    .SignupBtn {
        width: 50%;
        margin-left: 65px;
    }

    .Signup {
        left: 45%;
        width: 45%;
    }

    .existingS {
        margin-left: 30px;
    }
}


@media screen and (max-width: 1090px) {
    .login {
        left: 45%;
        top: 40%;
        width: 50%;
        padding: 30px 50px;
    }

    .container input {
        width: 100%;

    }

    .Signup {
        left: 55%;
        top: 20%;
        width: 30%;
        padding: 30px 50px;
    }

    .SignupBtn {
        width: 50%;
        margin-left: 65px;
    }

    .Signup {
        left: 45%;
        width: 45%;
    }

    .existingS {
        margin-left: 30px;
    }

    .existing {
        margin-left: 20px;
    }

    .resetPass {
        margin-left: 90px;
    }
}


@media screen and (max-width: 1025px) {
    .login {
        left: 45%;
        top: 40%;
        width: 45%;
        padding: 30px 50px;
    }

    .container input {
        width: 100%;

    }

    .Signup {
        left: 55%;
        top: 20%;
        width: 30%;
        padding: 30px 50px;
    }

    .loginBtn {
        width: 60%;
        margin-left: 60px;
    }

    .SignupBtn {
        width: 50%;
        margin-left: 65px;
    }

    .Signup {
        left: 35%;
        width: 50%;
    }

    .existingS {
        margin-left: 30px;
    }

    .existing {
        margin-left: 30px;
    }

    .resetPass {
        margin-left: 100px;
    }
}


@media screen and (max-width: 915px) {
    .login {
        left: 45%;
        top: 40%;
        width: 45%;
        padding: 30px 50px;
    }

    .container input {
        width: 100%;

    }

    .SignupBtn {
        width: 50%;
        margin-left: 65px;
    }

    .Signup {
        left: 30%;
        width: 50%;
    }

    .existingS {
        margin-left: 25px;
    }

    .existing {
        margin-left: 15px;
    }

    .resetPass {
        margin-left: 80px;
    }
}


@media screen and (max-width: 885px) {
    .login {
        left: 45%;
        top: 40%;
        width: 45%;
        padding: 30px 50px;
    }

    .container input {
        width: 100%;

    }

    .SignupBtn {
        width: 50%;
        margin-left: 65px;
    }

    .Signup {
        left: 30%;
        width: 50%;
    }

    .existingS {
        margin-left: 25px;
    }

    .existing {
        margin-left: 5px;

    }

    .resetPass {
        margin-left: 60px;
    }
}

@media screen and (max-width: 860px) {
    .login {
        left: 45%;
        top: 40%;
        width: 50%;
        padding: 30px 50px;
    }

    .container input {
        width: 100%;

    }

    .SignupBtn {
        width: 50%;
        margin-left: 65px;
    }

    .Signup {
        left: 25%;
        width: 55%;
    }

    .existingS {
        margin-left: 25px;
    }

    .existing {
        margin-left: 2px;

    }
}



@media screen and (max-width: 768px) {
    .login {
        left: 20%;
        top: 30%;
        width: 70%;
        padding: 20px;
    }

    .Signup {
        left: 17%;
        top: 17%;
        width: 70%;
        padding: 20px;
    }

    .loginBtn {
        width: 50%;
        height: 10%;
        margin-left: 80px;
        margin-top: 10px;
    }

    .existing {
        margin-left: 60px;
    }

    .resetPass {
        margin-left: 130px;
    }
}

@media screen and (max-width: 590px) {
    .login {
        left: 16%;
        top: 30%;
        width: 75%;
        padding: 20px;
    }

    .Signup {
        left: 17%;
        top: 17%;
        width: 70%;
        padding: 20px;
    }

    .loginBtn {
        width: 50%;
        height: 10%;
        margin-left: 80px;
        margin-top: 10px;
    }

    .existing {
        margin-left: 60px;
    }

    .resetPass {
        margin-left: 130px;
    }

}

@media screen and (max-width: 535px) {
    .login {
        left: 14%;
        top: 30%;
        width: 75%;
        padding: 20px;
    }

    .SignupBtn {
        width: 50%;
        margin-left: 65px;
    }

    .Signup {
        left: 10%;
        width: 85%;
    }

    .existingS {
        margin-left: 25px;
    }

    .existing {
        margin-left: 30px;
    }

    .resetPass {
        margin-left: 100px;
    }

}

@media screen and (max-width: 475px) {
    .login {
        left: 11%;
        top: 30%;
        width: 80%;
        padding: 20px;
    }

    .Signup {
        left: 10%;
        width: 85%;
    }

    .existingS {
        margin-left: 25px;
    }

    .existing {
        margin-left: 20px;
    }

    .resetPass {
        margin-left: 85px;
    }

}

@media screen and (max-width: 430px) {
    .login {
        left: 5%;
        top: 30%;
        width: 90%;
        padding: 20px;
    }

    .Signup {
        left: 4%;
        width: 90%;
    }

    .existingS {
        margin-left: 25px;
    }

    .existing {
        margin-left: 15px;
    }

    .resetPass {
        margin-left: 80px;
    }

}