.navbaritem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    width: 99%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 10px;
    height: 70px;
    background-color: #f5f5fc;
    position: fixed;
    z-index: 100;
    transition: all .5s;
    top: 2px;

}
.navmenu {
    margin: 10px;
    display: flex;
    list-style: none;
    align-items: center;
    margin-right: 1rem;
}

.navlogo {
    color: #040446;
    margin-left: 3rem;
    letter-spacing: 3px;
    font-size: 30px;
    cursor: pointer;
}

.nav-link {
    text-decoration: none;
    color: black;
    font-size: 16px;
    display: flex;
    align-items: center;
    font-weight: 800;
    letter-spacing: 2px;
    padding: .8rem 1.2rem;
    margin: 0px 1.5rem;
    font-weight: 700;
    white-space: nowrap;
    text-transform: capitalize;
}
li.active{
    background-color: rgb(83, 174, 187);
    color: white;
    border-radius: 10px;
    transition: all 1s;
    .nav-link{
        color: rgb(237, 235, 235);
    }
}
.nav-icon{
    font-size: 1.5rem;
    margin-right: .7rem;
    align-self: center;
}
.nav-link:hover {
    border-bottom: 2px rgb(83, 174, 187) solid;
}

.nav--button {
    border-radius: 30px;
    font-size:18px;
    color: black;
    font-weight: 600;
    border: 1px solid grey;
    cursor: pointer;
    padding: 1rem 2rem;
    background-color: white;
    letter-spacing: 2px;
    margin-right: 2rem;
    transition: .5s all;
}

.nav--button:hover {
    background-color: rgb(83, 174, 187);
    color: aliceblue;
    border: 1px solid white;
    transition: .5s all;
    transform: scale(1.05);
}

