.main--div--rental{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 18%;
    width: 70vw;
}
.rentalclients{
    margin-left: 3rem;
    margin-top: 2rem;
}
.add-car-link{
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: .7rem 1.5rem;
    font-size: 1.5rem;
    color: aliceblue;
    margin-bottom: 3rem;
    letter-spacing: 3px;
    transition: all .5s;
}
.add-car-link:hover{
    transform: scale(1.1);
    transition: all .5s;
    background-color: rgb(99, 232, 232);
}
.clienth1{
    margin-top: 2rem;
    font-size: 2rem;
}
.line12{
    width: 50%;
    color: var(--primary-color);
    border: 1.5px solid var(--primary-color);
    margin-bottom: 1rem;
}
.clientdiv{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.client-info{
    display: flex;
    gap: 1rem;
}
.client-item{
    background-color: aliceblue;
    padding:1rem;
    border-radius: 15px;
    border: 1px solid var(--primary-color);
    margin:1rem;
    box-shadow: 0px 2px 4px var(--primary-color);
}
.client-item img{
    width: 30% !important;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0px 2px 4px rgba(0,0,0,.5);

}

.client-details{
    display: flex;
    flex-direction: column;
}

.owner,.driver,.vehicle-client{
    display: flex;
    align-items: center;
    color: aliceblue;
    justify-content: space-between;
    margin: 1rem 1rem 1rem .5rem;
}

.owner p{
    background-color: rgb(50, 198, 221);
    border-radius: 12px;
    padding: .7rem 1.5rem;
}
.driver p{
    background-color: rgb(61, 127, 207);
    border-radius: 12px;
    padding: .7rem 1.5rem;
}

.vehicle-client p{
    background-color: rgb(166, 79, 206);
    border-radius: 12px;
    padding: .7rem 1.5rem;
    margin-left: .5rem;
}

.detail-detial{
    font-size: 1.2rem;
    font-weight: 200;
    letter-spacing: 3px;
}

.car-status-rental{
    height: 2rem;
    position: relative;
    width: 10%;
    color: aliceblue;
    display: flex;
    font-size: 1.2rem;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    padding: 1.2rem 2.4rem;
    background-color: rgb(79, 79, 190);
    right: -69%;
    top: 10%;
}

.car-status-rental.available{
        height: 2rem;
        width: 10%;
        color: aliceblue;
        display: flex;
        font-size: 1.2rem;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
        padding: 1.2rem 2.4rem;
        background-color: rgb(190, 79, 170);
        right: -69%;
        position: relative;
        top: 10%;
}
.car-status-price {
    right: -85%;
        position: relative;
        display: inline-block;
    height: 2rem;
    width: 14%;
    color: rgb(223, 243, 249);
    display: flex;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 1.4rem 2rem;
    background-color: rgb(112, 112, 112);
}
.car-status-price2 {
    position: absolute;
    height: 2rem;
    width: 10%;
    color: rgb(223, 243, 249);
    display: flex;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    right: -70%;
    position: relative;
    border-radius: 5px;
    padding: 1.2rem 2rem;
    background-color: rgb(239, 46, 46);
    cursor: pointer;
    transition: .5s all;
}
.car-status-price3 {
    position: absolute;
    height: 2rem;
    width: 10%;
    color: rgb(223, 243, 249);
    display: flex;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    right: -68%;
    margin-bottom: .2rem;
    position: relative;
    border-radius: 5px;
    padding: 1.2rem 2rem;
    background-color: rgb(239, 46, 46);
    cursor: pointer;
    transition: .5s all;
}
.car-status-price2:hover {
    transition: .5s all;
    transform: scale(1.05);
    background-color: rgb(245, 13, 13);
    cursor: pointer;
}
