.userPage{
    display: flex;
    flex-direction: row;
    gap: 20px;
    background: white;
}
.user--Profile{
    width: 70px;
    height: 70px;
    border-radius: 20%;
    margin-top: 20px;
    margin-left: 10px;
    
}
.imageAndName{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.user{
    position: relative;
    top: 40px;
    left: 10%;
    border-collapse: collapse;
    width: 1200px;
    
}
.values{
    border-bottom: 1px solid rgb(196, 193, 193);
}

.user td, .user th{
    padding: 10px 10px;
}
.user th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: gray;
    color: white;
}